page-business {
    .scroll-content{
        background-color:rgb(240, 231, 231);

    }
    .card-content-md{
        background-color: rgb(3, 59, 241);
    }
    .card-title-md{
        text-align: center;
        font-weight: bold; 
        color: antiquewhite;
    }
    .toolbar-title-md{
        text-align: center;
        font-weight: bold; 
        color:  rgb(3, 59, 241);
    }
   
}
