page-home2 {
    .scroll-content{
        background-color:rgb(240, 231, 231);

    }
    .card-title-md{
        text-align: center;
        font-weight: bold; 
        color: antiquewhite;
    }
    .toolbar-title-md{
        text-align: center;
        font-weight: bold; 
        color:  rgb(3, 59, 241);
    }
    .card-title{
        font-size: 2rem;
        text-align: center;
        color: rgb(14, 166, 226);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .marg{
        margin-top:10%;
    }
    p{
        font-size: 20px;
    }

}
